<header>
  <nav
    class="navbar navbar-expand-lg navbar-light nav-yellow border-bottom p-0"
  >
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand fs-4 fw-bold">
        <i class="fa fa-cart-shopping fs-4"></i>
        <span>SavorStation</span>
      </a>

      <!-- Toggler (Mobile) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <!-- Categories Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-semibold text-uppercase home-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let category of categoryList">
                <a
                  class="dropdown-item"
                  (click)="navigateToProd(category.categoryId)"
                >
                  {{ category.categoryName }}
                </a>
              </li>
            </ul>
          </li>

          <!-- Home -->
          <li class="nav-item">
            <a
              class="nav-link active fw-semibold text-uppercase"
              routerLink="/products"
            >
              Home
            </a>
          </li>

          <!-- Shop -->
          <li class="nav-item">
            <a class="nav-link fw-semibold text-uppercase" routerLink="/shop">
              Shop
            </a>
          </li>

          <!-- Logout -->
          <li class="nav-item">
            <a
              class="nav-link logout-link fw-semibold text-uppercase"
              style="cursor: pointer"
              (click)="logout()"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
