<div class="login-parent">
  <div class="login-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <h1 class="login-title">Login</h1>

      <!-- Email -->
      <div class="input-box">
        <input
          type="email"
          placeholder="Your email"
          formControlName="email"
          (blur)="loginForm.get('email')?.markAsTouched()"
        />
        <div
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('required')
          "
          class="validation-message"
        >
          Field must not be empty
        </div>
        <div
          *ngIf="
            loginForm.get('email')?.touched &&
            loginForm.get('email')?.hasError('email')
          "
          class="validation-message"
        >
          Please enter a valid email address
        </div>
      </div>

      <!-- Password -->
      <div class="input-box">
        <input
          type="password"
          placeholder="Your password"
          formControlName="password"
          (blur)="loginForm.get('password')?.markAsTouched()"
        />
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('required')
          "
          class="validation-message"
        >
          Field must not be empty
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('minlength')
          "
          class="validation-message"
        >
          Password must be at least 6 characters
        </div>
      </div>

      <!-- Login Button -->
      <button
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
        class="btn-login"
        *ngIf="!isLoading"
      >
        Login
      </button>
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>

      <!-- Register Link -->
      <div class="link">
        <p>
          Don't have an account?
          <a routerLink="/signup">Register</a>
        </p>
      </div>
    </form>
  </div>
</div>
