<header>
  <nav class="navbar navbar-expand-lg border-bottom p-0">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand fw-bold">
        <i class="fa fa-cart-shopping me-1"></i>
        SavorStation
      </a>

      <!-- Mobile Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link text-uppercase home-link" routerLink="/products">
              Home
            </a>
          </li>

          <!-- Category -->
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/category">
              Category
            </a>
          </li>

          <!-- Shop -->
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/shop"> Shop </a>
          </li>

          <!-- Logout -->
          <li class="nav-item">
            <a
              class="nav-link text-uppercase logout-link"
              style="cursor: pointer"
              (click)="logout()"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
